CC/bustling-bot-350614-c80cc103165a.json
CC/predicts-v2/curl.sh
CC/predicts-v2/gcs.json
CC/predicts-v2/ml.json
CC/predicts-v2/request.json
CC/predicts-v2/var.sh
CC/predicts-v2/venv
CC/predicts-v2/__pycache__
CC/predicts-v2/main2.py
CC/predicts

