/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/bustling-bot-350614-5dab7679f2d4.json
/public/bustling-bot-350614-5dab7679f2d4.json
laravel.zip